<div class="mobile_sidebar" id="mobile_sidebar">
	<div class="mobile_sidebar--closer -white">
		<button class="c-hamburger c-hamburger--htx is-active">
			<span>toggle menu</span>
		</button>
	</div>
	<div class="mobile_menu">
		<ul class="menu">
			<li class="menu-item">
				<a href="contacts.html">ABOUT</a>
			</li>
			<li class="menu-item menu-item-has-children">
				<a href="services.html">SERVICES</a>
				<ul class="sub-menu">
					<li class="menu-item menu-item-has-children">
						<a href="case_studies.html">CASE STUDIES</a>
						<ul class="sub-menu">
							<li class="menu-item">
								<a href="case_studies.html">CASE STUDIES</a>
							</li>
							<li class="menu-item">
								<a href="blog.html">BLOG</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="blog.html">BLOG</a>
					</li>
				</ul>
			</li>
			<li class="menu-item">
				<a href="careers.html">CAREERS</a>
			</li>
			<li class="menu-item">
				<a href="contacts.html">CONTACT US</a>
			</li>
		</ul>
	</div>
	<!-- select language -->
	<div class="select_language -mobile_sidebar">
		<button class="select_language--opener" type="button">
			<i class="select_language--opener_icon bi_web-internet-a"></i>
			Language
		</button>
		<ul class="select_language--list">
			<li><a href="#">English</a></li>
			<li><a href="#">Espanol</a></li>
		</ul>
	</div>
	<!-- /select language -->
	<!-- topbar_contacts -->
	<ul class="topbar_contacts -mobile_sidebar">
		<li class="topbar_contacts--item">
			<span class="contact_phone">
				<i class="bi_com-phone"></i>
				0 (855) 233-5385
			</span>
		</li>
		<li class="topbar_contacts--item">
			<span class="contact_email">
				<i class="bi_com-email"></i>
				info@seocompany.com
			</span>
		</li>
	</ul>
	<!-- /topbar_contacts -->
	<!-- follow us -->
	<dl class="follow_us -mobile_sidebar">
		<dt>Follow us</dt>
		<dd>
			<ul>

				<li>
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-pinterest"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-rss"></i>
					</a>
				</li>

			</ul>
		</dd>
	</dl>
	<!-- /follow us -->
	<div class="mobile_sidebar--buttons">
		<button class="button -secondary -fill">FREE SEO ANALYSIS</button>
	</div>

</div>