<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>
</header>

<!-- Post Content -->
<article>
    <div class="container content">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                {{ .Content }}
            </div>
        </div>
    </div>
</article>
