{{ partial "header.html" .}}

<div class="container content">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<article class="post -page">

				<!-- entry-header -->
				<header class="entry-header">
					<h1 class="entry-title">
						<a href="#" rel="">{{ .Title }}</a>
					</h1>
				</header>
				<!-- /entry-header -->

				<!-- entry-content -->
				<div class="entry-content">
					{{ if isset .Params "image" }}
					<figure>
					<img src="{{ .Site.BaseURL }}/{{ .Params.image }}"/>
					    </figure>
						{{ end }}

					{{ .Content }}
				</div>
				<!-- /entry-content -->
				<div class="post--info--bottom">
					<ul class="post--info_meta">
						<li>
							{{ .Params.author }}
						</li>
						{{ range .Params.categories }}
							<li>
								<a href="/categories/{{ urlize . }}" >{{ title . }}</a>
							</li>
						{{ end }}
					</ul>
				</div>

				{{ template "_internal/disqus.html" . }}

			</article>

		</div>
	</div>
</div>

{{ partial "footer.html" .}}
