<!-- Footer -->

{{ partial "mobile_menu.html" . }}

<section class="footer_contacts" style="background: #2a93de;">
	<div class="section--inner container">
		<div class="row">
			<div class="col-md-12 center-block">
				<div class="footer_contacts--item">
					<div class="footer_contacts--item_wrap -center">
						<div class="description">Get Ready for your new software project</div>
						<p class="footer_contacts--item_text contact-form-trigger">
							<b>
								<i class="bi_com-broadcast-a"></i>
								<span>Request a quote</span>
							</b>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="layout--footer">
	<footer class="footer" style="background-image: url('{{ .Site.BaseURL }}/assets/images/design/footer.jpg')">
		<div style="background-color:#0059b1" class="footer--bg"></div>
		<div class="footer--inner">
			<div class="container">
				<div class="footer_main">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="footer_main--column">
								<strong class="footer_main--column_title">Products</strong>
								<ul class="footer_navigation">
									<li class="footer_navigation--item">
										<a href="http://www.depositfix.com/" class="footer_navigation--link">DepositFix</a>
									</li>
									<li class="footer_navigation--item">
										<a href="http://www.idea2saas.com/" class="footer_navigation--link">Idea2SaaS</a>
									</li>
									<li class="footer_navigation--item">
										<a href="{{ .Site.BaseURL }}/smartforms/" class="footer_navigation--link">SmartForms</a></li>
									<li class="footer_navigation--item">
										<a href="https://lp.integrationagent.com/hubspot" class="footer_navigation--link">HubSpotDevelopment</a></li>
								</ul>
							</div>
						</div>
						<!--<div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">-->
						<!--<div class="footer_main&#45;&#45;column">-->
						<!--&lt;!&ndash;<strong class="footer_main&#45;&#45;column_title">!</strong>&ndash;&gt;-->
						<!--<ul class="footer_navigation">-->

						<!--</ul>-->
						<!--</div>-->
						<!--</div>-->
						<div class="col-lg-6 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="footer_main--column">
								<strong class="footer_main--column_title">Contact US</strong>
								<ul class="footer_contact_info">
									<li class="footer_contact_info--item"><i class="bi_com-phone"></i><span>Call Us  <a href="tel:+18474970307" class="footer_navigation--link">(847) 497-0307</a></span>
									</li>
									<li class="footer_contact_info--item"><i class="bi_com-email"></i><span><a href="mailto: denis@integrationagent.com" class="footer_navigation--link">denis@integrationagent.co</a></span>
									</li>
									<li class="footer_contact_info--item"><i class="bi_location-alt-pin"></i><span>375 Pebblecreek dr<br/> Lake Zurich, IL 60047, USA</span>
									</li>
									<!--<li class="footer_contact_info&#45;&#45;item"><i class="bi_time-clock-a"></i><span>Monday - Friday, 9am - 6 pm</span></li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
				<section class="footer_copyrights">
					<div class="footer_copyrights--container">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="footer_copyrights--item">
									<div class="footer_copyrights--logo"><a href="http://integrationagent.com/"><img
											src="{{ .Site.BaseURL }}/img/logo_white.png" alt=""
											style="width: 190px"></a></div>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="footer_copyrights--item">
									<div class="footer_copyrights--item_copyrights">Integration Agent © 2016. All Rights
										Reserved.
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</footer>
</div>

{{ partial "technical_footer.html" . }}


</body>
</html>
